<h1>registration </h1>
<body>
    <form method="POST" enctype="multipart/form-data" action="/new_user" >
    <label>Username:</label><br>
    <input type="text" name="username" required><br>
    <label>email:</label><br>
    <input type="email" name="email" required><br>
    <label>UserId:</label><br>
    <input type="text" name="user_id" required><br>
    <label>phone:</label><br>
    <input type="text" name="phone" required><br>
    <label>Password:</label><br>
    <input type="password" name="password" required><br>
    <label>Confirm Password:</label><br>
    <input type="password" name="confirmpassword" required><br><br>
    <button type="submit">sign up</button>
    <p>Already a user<a href="/login">sign in</a></p>
    </form> 
</body>